<nav th:fragment="top-navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Liisan & Jannan Coffee Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

         <!--  <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">Etusivu</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}">Etusivu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/kahvilaitteet}">Kahvilaitteet</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/kulutustuotteet}">Kulutustuotteet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/registration}">Rekisteröidy VIP-asiakkaaksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/signin}">Kirjaudu sisään</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/tuotteenhallinta}">Nooran sivu</a>
          </li>

          
          <div class="logout" sec:authorize="hasAuthority('ADMIN')">
            <form method="post" action="index.html" th:action="@{/logout}">
              <button type="submit" class="btn btn-light" name="logout" value="Logout">Admin logout</button>
            </form>
        </div>

          <div class="logout" sec:authorize="hasAuthority('USER')">
            <form method="post" action="index.html" th:action="@{/logout}">
              <button type="submit" class="btn btn-light" name="logout" value="Logout">Kirjaudu ulos VIP</button>
            </form>
        </div>
        </ul>
      </div>
    </div>
  </nav>


  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->

       <!--  <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->