<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head-fragment('Coffee Shop')"></head>
<body class="d-flex h-100 text-center text-white bg-dark" cz-shortcut-listen="true">
  <header th:replace="fragments/header :: header-fragment"></header>  
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="px-3">
        <h1>Nooran Kahvikauppa</h1>
        <p class="lead">Myy kahvilaitteita ja kahvitteluun liittyviä kulutustuotteita</p>
        <p class="lead">
          <a th:href="@{/vip}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Rekisteröidy VIP asiakkaaksi</a>
        </p>
        <!-- <figure>
          <img src="/images/grey.jpg" alt="coffee beans">
        </figure> -->
      </main>
    
    <footer th:replace="fragments/footer :: footer-fragment"></footer>  
    </div>
    </body>
</html>