<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head-fragment('Coffee Shop')"></head>
<body class="d-flex h-100 text-center text-white bg-dark" cz-shortcut-listen="true">
<header th:replace="fragments/header :: header-fragment"></header>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> 
        <main class="px-3">
        <h1>Nooran Kahvikauppa</h1>
        <p class="lead">Myy kahvilaitteita ja kahvitteluun liittyviä kulutustuotteita</p>
        <div class="haku">
          <form th:action="@{/search}" method="get" class="d-flex">
            <input class="form-control me-2" type="search" name="hakusana" placeholder="Hae sanalla..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Hae</button>
            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
          </form>
        </div> 
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div th:each="kahvilaite : ${kahvilaitteet}" class="col">
              <div class="card shadow-sm">
                <figure>
                    <a th:href="@{/kahvilaitteet/{id}(id=${kahvilaite.id})}"><img class="img-fluid tuote-kuva" th:src="@{/kahvilaite/tuoteKuva/{id}(id=${kahvilaite.id})}" alt="Kuva tuotteesta"></a>
                </figure>
                <div class="card-body">
                  <p th:text="${kahvilaite.nimi}"></p>  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <h5 th:text="'Hinta: ' + ${kahvilaite.hinta} + ' €'"></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            </div>  
        </div>
        </main>
<footer th:replace="fragments/footer :: footer-fragment"></footer>
    </div>
    <script type="text/javascript">
      function clearSearch() {
          window.location = "[[@{/kahvilaitteet}]]";
      }
  </script>
</body>
</html>