<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head-fragment('Coffee Shop')">
    
</head>
<body class="d-flex h-100 text-center text-white bg-dark" cz-shortcut-listen="true">
  <header th:replace="fragments/header :: header-fragment"></header>  
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
      </header>
      <main class="px-3">
        <h1>Toimittaja</h1>
        <p class="lead">Täällä voit lisätä uuden toimittajan tai muuttaa olemassa olevan toimittajan tietoja</p>
        
        
            <h1 class="h3 mb-3 fw-normal">Lisää uusi toimittaja</h1>

            
            <!-- Toimittajan lisäys -->
            <form class="form-signin" th:action="@{/toimittajan-muokkaus}" method="POST">
                <div class="form-floating">
                    <input type="text" class="form-control" name="nimi" placeholder="text" required>
                    <label for="floatingToimittajanNimi">Toimittajan nimi</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" name="yhteyshenkilo" placeholder="Yhteyshenkilo" required>
                    <label for="floatingToimittajanYhteyshenkilö">Yhteyshenkilö</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" name="yhteyshenkilonEmail" placeholder="email" required>
                    <label for="floatingYhteyshenkilonSahkoposti">Yhteyshenkilön Sähköposti</label>
                </div>
                <button type="submit" class="btn btn-secondary btn-lg">Lisää</button>
            </form>

<hr>
        <!-- Toimittajan muokkaus -->
            <h1 class="h3 mb-3 fw-normal">Muuta toimittajan tietoja</h1>
            <div class="form-floating"> 
                <select  class="form-select" name="toimittajaID">
                    <option selected>Toimittajan nimi</option> 
                    <option th:each="toimittaja : ${toimittajat}" th:text="${toimittaja.nimi}" th:value="${toimittaja.id}"></option>
                </select>
                <button></button>
            </div>

            <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
        <hr>
             -->
        <!-- Poista toimittaja -->
        <!-- <form class="form-signin" th:action="@{/toimittajan-muokkaus}" method="DELETE">
            <h1 class="h3 mb-3 fw-normal">Poista toimittaja</h1>
            <div class="form-floating"> 
                <select class="form-select" name="toimittajaID">
                    <option selected>toimittajan nimi</option>
                    <option th:each="toimittaja : ${toimittajat}" th:text="${toimittaja.nimi}" th:value="${toimittaja.id}"></option>
                </select>
                <button type="submit" class="btn btn-secondary btn-lg">Poista toimittaja</button>
            </div>
        </form> -->

        <!-- <form action="#" th:action="@{'/delete/{id}'(id=${foo.id})}" th:method="delete" >
<input type="hidden" name="_method" value="delete" />
<button type="submit" id="submitButton"> </button>
</form> 
th:action="@{'/toimittajan-muokkaus/{id}'(id=${toimittaja.id})}"
-->

      </main>
    
    <footer th:replace="fragments/footer :: footer-fragment"></footer>  
    </div>
    
    
        
 <!-- Toimittajan lisäys -->
 <!-- <form class="form-signin" th:action="@{/toimittajan-muokkaus}" method="POST">
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingToimittajanNimi" name="nimi" placeholder="toimittajan nimi" required>
        <label for="floatingToimittajanNimi">Toimittajan nimi</label>
    </div>
    <div class="form-floating">
        <textarea name="url" rows="3" class="form-control" id="floatingUrl" placeholder="Url"></textarea>
        <label for="floatingUrl">Toimittajan url-osoite</label>
        
    </div>
    <button type="submit" class="btn btn-secondary btn-lg">Lisää</button>
</form>     
     -->
    </body>
</html>