<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head-fragment('Coffee Shop')">
    
</head>
<body class="d-flex h-100 text-center text-white bg-dark" cz-shortcut-listen="true">
  <header th:replace="fragments/header :: header-fragment"></header>  
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

          <div class="opacity">
              <main class="px-3">
                <button type="button" class="btn btn-light btn-sm"></i>Back</button>
              
                    <h1>Tuotteen hallinta</h1>
                    <p class="lead">Täällä voit lisätä, poistaa tai muokata tuotteita.</p>
                
                      
                      <form class="form-signin" th:action="@{/tuotteen-muokkaus}" method="post" modelAttribute="uusiTuote" enctype="multipart/form-data">
                <h1 class="h3 mb-3 fw-normal">Tuotteen lisäys</h1>
                <!-- Valmistajan valinta -->
                <div class="form-floating">
                    <select class="form-select" name="valmistaja">
                        <option selected>Valitse valmistaja</option>
                        <option th:each="valmistaja : ${valmistajat}" th:text="${valmistaja.nimi}" th:value="${valmistaja.id}">valmistajat</option>
                    </select>
                </div>
                <!-- Tuotenimi -->
                <div class="form-floating">
                    <input maxlength="50" type="text" class="form-control" id="floatingTuoteNimi" name="nimi" placeholder="Tuotteen nimi" required>
                    <label for="floatingTuoteNimi">Tuotteen nimi</label>
                </div>
                <!-- Tuotekuvaus -->
                <div class="form-floating">
                    <textarea maxlength="255" name="kuvaus" rows="3" class="form-control" id="floatingTuoteKuvaus" placeholder="Tuotekuvaus" required></textarea>
                    <label for="floatingTuoteKuvaus">Tuotekuvaus</label>
                </div>
                <!-- Osaston valinta -->
                <div class="form-floating">
                    <select class="form-select" name="osasto">
                        <option selected>Valitse osasto</option>
                        <option th:each="osasto : ${osastot}" th:text="${osasto.nimi}" th:value="${osasto.id}">osastot</option>
                    </select>
                </div>
                <!-- Tuotten hinta -->
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingTuotteenHinta" name="hinta" placeholder="Tuotteen hinta" required>
                    <label for="floatingTuotteenHinta">Tuotteen hinta</label>
                </div>
                <!-- Toimittajan valinta -->
                <div class="form-floating">
                    <select class="form-select" name="toimittaja">
                        <option selected>Valitse toimittaja</option>
                        <option th:each="toimittaja : ${toimittajat}" th:text="${toimittaja.nimi}" th:value="${toimittaja.id}">toimittajat</option>
                    </select>
                </div>
                <!-- Tuotteen kuvan lataaminen -->
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="tuotekuva" id="tuotekuva" required>
                    <!-- <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
                </div>
                <button type="submit" class="btn btn-light">Tallenna</button>   
                      </form>
              
              
                      <!-- Poista tai muokkaa tuotetta -->
                      <form class="form-signin" th:action="@{/tuotteen-muokkaus/{id}}" method="put">
                <h1 class="h3 mb-3 fw-normal">Poista tai muokkaa tuotetta</h1>
                <div class="form-floating">
                    <select class="form-select" name="id">
                        <option selected>Tuotteen nimi</option>
                        <option th:each="tuote : ${tuotteet}" th:text="${tuote.nimi}" th:value="${tuote.id}">mihin tämä tulee</option>
                    </select>
                    <button type="submit" class="btn btn-light">Valitse</button>
                </div>
                </div>
                      </form>
              
                    </main>
          </div>
    
    <footer th:replace="fragments/footer :: footer-fragment"></footer>  
    </div>
    
    
        
      
    
    </body>
</html>