<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head-fragment('Coffee Shop')">
    
</head>
<body class="d-flex h-100 text-center text-white bg-dark" cz-shortcut-listen="true">
  <header th:replace="fragments/header :: header-fragment"></header>  
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
      </header>
      <main class="px-3">
        <h1>Valmistaja</h1>
        <p class="lead">Täällä voit lisätä uuden valmistajan tai muuttaa olemassa olevan valmistajan tietoja</p>
        
        
            <h1 class="h3 mb-3 fw-normal">Lisää uusi valmistaja</h1>

            
            <!-- Valmistajan lisäys -->
            <form class="form-signin" th:action="@{/valmistajan-muokkaus}" method="POST">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingValmistajanNimi" name="nimi" placeholder="Valmistajan nimi">
                    <label for="floatingValmistajanNimi">Valmistajan nimi</label>
                </div>
                <div class="form-floating">
                    <textarea name="url" rows="3" class="form-control" id="floatingUrl" placeholder="Url"></textarea>
                    <label for="floatingUrl">Valmistajan url-osoite</label>
                    
                </div>
                <button type="submit" class="btn btn-secondary btn-lg">Tallenna</button>
            </form>

<hr>
        <!-- Valmistajan muokkaus -->
            <h1 class="h3 mb-3 fw-normal">Muuta valmistajan tietoja</h1>
            <div class="form-floating"> 
                <select  class="form-select" name="valmistajaID">
                    <option selected>Valmistajan nimi</option> 
                    <option th:each="valmistaja : ${valmistajat}" th:text="${valmistaja.nimi}" th:value="${valmistaja.id}"></option>
                </select>
            </div>

            <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
        <hr>
             -->
        <!-- Poista valmistaja -->
        <form class="form-signin" th:action="@{/valmistajan-muokkaus}" method="post">
            <h1 class="h3 mb-3 fw-normal">Poista valmistaja</h1>
            <div class="form-floating"> 
                <select class="form-select" name="valmistajaID">
                    <option selected>Valmistajan nimi</option>
                    <option th:each="valmistaja : ${valmistajat}" th:text="${valmistaja.nimi}" th:value="${valmistaja.id}"></option>
                </select>
                <button type="submit" class="btn btn-secondary btn-lg">Poista valmistaja</button>
            </div>
        </form>

      </main>
    
    <footer th:replace="fragments/footer :: footer-fragment"></footer>  
    </div>
    
    
        
      
    
    </body>
</html>